:root {
    --main-background: #141416;
    --main-e-color: #353945;
    /* ----------------------------- */
    --main-color-text-n-border: #777E91;
    --main-color-text: #F4F5F6;
    --main-color-price: #45B36B;
    --main-btn-color: #FCFCFD;
    --main-btn-color-dark: #23262F;
    /* ----------------------------- */
    --main-btn-blue: #3772FF;
    --main-btn-blue-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772FF;
    --main-btn-dark: #E6E8EC;
    --main-btn-dark-hover: #23262F;
    --main-btn-white: #777E91;
    --main-btn-white-hover: #FCFCFD;
    /* ----------------------------- */
}

.item-wrapper {
    display: flex;
    justify-content: center;
    gap: 128px;

    .item-img {
        border-radius: 16px;
        max-width: 640px;
        max-height: 800px;
    }

    .item-info {
        max-width: 352px;
        display: flex;
        gap: 40px;
        flex-direction: column;

        .item-header {
            display: flex;
            flex-direction: column;

            p {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: -0.02em;
                color: var(--main-btn-color);
            }

            .item-info__creator {
                display: flex;
                justify-content: space-between;

                .creator-info {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        max-width: 40px;
                        max-height: 40px;
                    }

                    .creator {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        p:nth-child(1) {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            color: var(--main-color-text-n-border);
                        }

                        p:nth-child(2) {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            color: var(--main-btn-color);
                        }
                    }
                }

                .creator-price {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        max-width: 40px;
                        max-height: 40px;
                    }

                    .price {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        p:nth-child(1) {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            color: var(--main-color-text-n-border);
                        }

                        p:nth-child(2) {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            color: var(--main-btn-color);
                        }
                    }
                }
            }
        }

        .timer {
            display: flex;
            border-radius: 24px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 32px 32px;
            background: var(--main-btn-dark-hover);

            .timer-info {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 24px;

                .info-header {
                    p:nth-child(1) {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: var(--main-btn-color)
                    }

                    p:nth-child(2) {
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 56px;
                        text-align: center;
                        letter-spacing: -0.02em;
                        color: var(--main-btn-color)

                    }

                    p:nth-child(3) {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 32px;
                        text-align: center;
                        color: var(--main-color-text-n-border);
                    }
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: var(--main-btn-color);
                }
            }
        }

        .btns-wrapper {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
    }
}