:root {
    --main-background: #141416;
    --main-e-color: #353945;
    /* ----------------------------- */
    --main-color-text-n-border: #777E91;
    --main-color-text: #F4F5F6;
    --main-color-price: #45B36B;
    --main-btn-color: #FCFCFD;
    --main-btn-color-dark: #23262F;
    /* ----------------------------- */
    --main-btn-blue: #3772FF;
    --main-btn-blue-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772FF;
    --main-btn-dark: #E6E8EC;
    --main-btn-dark-hover: #23262F;
    --main-btn-white: #777E91;
    --main-btn-white-hover: #FCFCFD;
    /* ----------------------------- */
}



.defoult-search {
    padding: 10px 13.67px 10px 16px;
    width: 100%;
    flex: 1;
    background: transparent;
    border-radius: 8px;
    border: 2px solid var(--main-e-color);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--main-color-text);
    outline: none;
}

.defoult-search::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--main-color-text-n-border);
}