@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


*,
::after,
::before {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

:root {
    --main-background: #141416;
    --main-e-color: #353945;

    --main-color-text-n-border: #777E91;
    --main-color-text: #F4F5F6;
    --main-color-price: #45B36B;
    --main-btn-color: #FCFCFD;
    --main-btn-color-dark: #23262F;

    --main-btn-blue: #3772FF;
    --main-btn-blue-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772FF;
    --main-btn-dark: #E6E8EC;
    --main-btn-dark-hover: #23262F;
    --main-btn-white: #777E91;
    --main-btn-white-hover: #FCFCFD;
}

/* ““““ */
html[data-theme='dark'] {
    --main-background: #141416;
    --main-color-text: #F4F5F6;
    --main-btn-color: #FCFCFD;
    --main-btn-color-dark: #23262F;


    --main-color-text-n-border: #777E91;
    --main-color-price: #45B36B;
}

html[data-theme='light'] {
    --main-background: #FFFFFF;
    --main-color-text: #23262F;
    --main-btn-color: #23262F;
    --main-btn-color-dark: #E6E8EC;

    --main-btn-blue-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772FF;
    --main-btn-white: #777E91;
    --main-btn-white-hover: #FCFCFD;
}


body {
    background-color: var(--main-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .25s;
}